/*COnfig menu*/

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(198, 214, 228);
    font-family: Poppins;
}

.menu{
    background-color: #111;
    position: relative;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 12px 30px;
}

ul{
    padding-Right: 9%;
}

.titlelogo{
    align-items: center;
    display: flex;
}
.titlesite{
    color: tomato;
}

.imglogoshtml{
    position: relative;
    padding: 5px;
    width: 35px;
    height: 35px;
}

.imglogoscss{
    position: relative;
    padding: 5px;
    width: 35px;
    height: 35px;
}

.imglogosjs{
    position: relative;
    padding: 5px;
    width: 45px;
    height: 45px;
}

a{
    text-decoration: none;
    padding: 0px 20px;
    color: aliceblue;
    transition: background-color 0.3s ease;
    font-family: Poppins;
}

a:hover{
    color: tomato;
}

.meubotao{
    background-color: tomato;
    color: aliceblue;
    padding: 10px 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.meubotao:hover{
    background-color: rgb(134, 48, 33);
    border-radius: 20%;
}
