/*COnfig menu*/
.menu{
    background-color: #111;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: space-around;
    padding: 12px 30px;
}
.titlelogo{
    display: flex;
}
.titlesite{
    color: aliceblue;
}

.html{
    position: relative;
    width: 20px;
}

.css{
    position: relative;
    width: 20px;
}

a{
    text-decoration: none;
    padding: 0px 10px;
    color: aliceblue;
    transition: background-color 0.3s ease;
}

a:hover{
    color: #333;
}

.meubotao{
    background-color: tomato;
    color: aliceblue;
    padding: 10px 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.meubotao:hover{
    background-color: rgb(134, 48, 33);
}
