*{
    margin: 0;
}

body{

    background-color: rgb(198, 214, 228);
    font-family: Poppins;
}

/* HOME */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;
}

.card_wrapper{
    position: relative;
}

.card{
    position: relative;
}
.card-image{
    width: 90vw;
    height: 70vh;
    background-image: url("/assets/background.jpg");
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
    position: relative;
}

.text{
    color: aliceblue;
    width: 350px;
    position: absolute;
    right: 5%;
    top: 35%;
    font-family: Poppins;
    font-size: 20px;
    line-height: 1.5;
}

/*mask image*/
.card-image{
    -webkit-mask: url("/assets/top-center.png") center / contain no-repeat, url("/assets/bottom-right.png") center / contain no-repeat, linear-gradient(#000000 0 0);
    mask-size: 25rem, 30rem;
    mask-position: top center, bottom right;
    mask-composite: exclude;
}

.button{
    position: absolute;
    background-color: tomato;
    border-radius: 1.5rem;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-center{
    width: 200px;
    height: 60px;
    top: 1%;
    right: 0%;
    left: 0%;
    margin: 0 auto;
}
.top-center .text{
    font-size: 22px;
    font-weight: 600;
    text-overflow: uppercase;
    
}

