*{
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(198, 214, 228);

}
/*COnfig menu*/
.menu{
    background-color: #111;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: space-around;
    padding: 12px 30px;
}
.titlelogo{
    display: flex;
}
.titlesite{
    color: aliceblue;
}

.html{
    position: relative;
    width: 20px;
}

.css{
    position: relative;
    width: 20px;
}

a{
    text-decoration: none;
    padding: 0px 10px;
    color: aliceblue;
    transition: background-color 0.3s ease;
}

a:hover{
    color: #333;
}

.meubotao{
    background-color: tomato;
    color: aliceblue;
    padding: 10px 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.meubotao:hover{
    background-color: rgb(134, 48, 33);
}

/* HOME */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;
}

.card_wrapper{
    position: relative;
}

.card{
    position: relative;
}
.card-image{
    width: 90vw;
    height: 70vh;
    background-image: url("/assets/background.jpg");
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
    position: relative;
}

.text{
    color: aliceblue;
    width: 350px;
    position: absolute;
    right: 5%;
    top: 30%;
    font-size: 20px;
    line-height: 1.5;
}

/*mask image*/
.card-image{
    -webkit-mask: url("/assets/top-center.png") center / contain no-repeat, url("/assets/bottom-right.png") center / contain no-repeat, linear-gradient(#000000 0 0);
    mask-size: 22rem, 30rem;
    mask-position: top center, bottom right;
    mask-composite: exclude;
}

.button{
    position: absolute;
    background-color: tomato;
    border-radius: 1.5rem;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-center{
    width: 200px;
    height: 60px;
    top: 1%;
    right: 0%;
    left: 0%;
    margin: 0 auto;
}
.top-center .text{
    font-size: 28px;
    font-weight: 600;
    text-overflow: uppercase;
    
}

/*SESSÂO 2*/
.title-itens{
    background-color: tomato;
    padding: 10px;
    height: 20px;
}
.containa{
    background-color: #111;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    margin: 25px;
    padding: 20px;
    border-radius: 20px;
}
.caixa{
    background-color: tomato;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    display: flex; /* Centraliza */
    align-items: center; /* direciona */
    justify-content: center; /* direciona */
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s ease;
    text-align: center;
}

.caixa:hover{
    transform: scale(1.2);
}

