*{
    margin: 0;
}

body{

    background-color: rgb(198, 214, 228);
    font-family: Poppins;
}

/*SESSÂO 2*/
.title-itens{
    background-color: tomato;
    padding: 10px;
    height: 20px;
}
.containa{
    background-color: #111;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    margin: 25px;
    padding: 20px;
    border-radius: 20px;
}
.caixa{
    background-color: tomato;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    display: flex; /* Centraliza */
    align-items: center; /* direciona */
    justify-content: center; /* direciona */
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s ease;
    text-align: center;
}

.caixa:hover{
    transform: scale(1.2);
}

