*{
    margin: 0;
}

body{

    background-color: rgb(198, 214, 228);
    font-family: Poppins;
}

/*SESSÂO 1*/
.title-itens{
    background-color: tomato;
    padding: 10px;
    height: 20px;
}
.containa{
    background-color: #111;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    margin: 25px;
    padding: 20px;
    border-radius: 20px;
}
.caixa{
    background-color: tomato;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    display: flex; /* Centraliza */
    align-items: center; /* direciona */
    justify-content: center; /* direciona */
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s ease;
    text-align: center;
}

.caixa:hover{
    transform: scale(1.2);
}

/*SESSÂO 2*/

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.box{
    background-color: rgb(184, 184, 184);
    margin: 10px 10px;
    border-radius: 25px;
    padding: 20px;
    transition: 0.3s ease;

}

.box:hover{
    transform: scale(1.1);
}

.boxtxt{
    color: white;
}

.boxtxt h1{
    text-align: center;
}

.boxtxt p{
    text-align: center;
    max-width: 200px;    
}

.boxtxt button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #111;
    color: white;
    cursor: pointer;
}

