img{
    width: 100px;
    transform: rotate(90deg);
    animation: animaframes 2s;
}

@keyframes animaframes{
    0%{
        transform: rotate(0deg);
    }

    90%{
        transform: rotate(180deg), scale(1.5);
    }

    100%{
        transform: rotate(360deg);
    }
}